<% title _('Contact Us') %>
<div class="row">
  <div class="col-md-12">
    <h1><%= _("Contact Us") %></h1>
    <p>
      <b><%= ApplicationService.application_name %></b> is provided by <b>Belnet</b>.
    </p>
    <p>
      If you would like to introduce <b><%= ApplicationService.application_name %></b> in your organisation and want to learn more about it, please enter your query in the form below.
    </p>
    <p>
      If you are already a customer of <b><%= ApplicationService.application_name %></b>, please contact the Admin User of your organisation (this information is available at the top left corner of the page when you are logged in). Admin users can also raise tickets at Belnet in case they cannot fix the issue you are facing.
    </p>
    <p>
      If you have a feature request or think you have found a bug, please check out the <a href="https://github.com/DMPbelgium/roadmap/issues">list of issues on DMPbelgium's GitHub</a>. If your issue isn't listed there, please add it; if it is, please add a comment if you have more information or just to let people know how important it is to you. This will help Belnet to prioritise future developments.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-6"><!-- Left column container -->
      <%= render :partial => "contact_us/contacts/new_left" %>
  </div><!-- Left column container -->
  <div class="col-md-6"><!-- Right column container -->
    <div class="pull-right">
      <%= render :partial => "contact_us/contacts/new_right" %>
    </div>
 </div><!-- Right column container -->
</div>
