<%= form_for(resource, namespace: current_user.id, as: resource_name, url: registration_path(resource_name), html: {method: :put, id: 'personal_details_registration_form' }) do |f| %>

  <p class="form-control-static"><%= _('Verify your profile details below.') %></p>
  <%= hidden_field_tag :unlink_flag, "false", id: 'unlink_flag' %>

  <div class="form-control mb-3 col-sm-8">
    <%= f.label(:email, _('Email'), class: 'form-label') %>
    <p><a href="mailto:<%= @user.email %>"><%= @user.email %></a></p>
    <input type="hidden" name="user[email]" value="<%= @user.email %>">
  </div>

  <div class="form-control mb-3 col-sm-8">
    <%= f.label(:firstname, _('First name'), class: 'form-label') %>
    <%= f.text_field(:firstname, class: "form-control", "aria-required": true, value: @user.firstname) %>
  </div>

  <div class="form-control mb-3 col-sm-8">
    <%= f.label(:surname, _('Last name'), class: 'form-label') %>
    <%= f.text_field(:surname, class: "form-control", "aria-required": true, value: @user.surname) %>
  </div>

  <div class="form-control mb-3 col-sm-8">
    <%= f.label(:org_name, _('Organisation'), class: 'form-label') %>
    <p><%= @user.org.name %></p>
    <input type="hidden" name="user[org_id]" value="<%= { id: @user.org_id }.to_json %>">
  </div>

  <input type="hidden" name="user[language_id]" value="<%= @user.language_id %>">

  <% if current_user.can_org_admin? %>
    <div class="form-control mb-3 col-sm-8">
      <label><%= _('My privileges') %></label>
      <p><%= (current_user.can_super_admin? ? _('Super Admin') : _('Organisational Admin')) %></p>
    </div>
  <% end %>

  <% @identifier_schemes.each do |scheme| %>
    <% next unless scheme.name.downcase == 'orcid' %>
    <div class="form-control mb-3 col-sm-8">
      <%= label_tag(:scheme_name, 'ORCID', class: 'form-label') %>

      <div class='identifier-scheme'>
        <%= render partial: "external_identifier",
                   locals: { scheme: scheme,
                             id: current_user.identifier_for(scheme.name)} %>
      </div>
    </div>
  <% end %>

  <% unless @user.api_token.blank? %>
    <div class="form-control mb-3 col-sm-8">
      <%= f.label(:api_token, _('API token'), class: 'form-label') %>
      <%= @user.api_token %>
    </div>
    <div class="form-control mb-3 col-sm-8">
      <%= label_tag(:api_information, _('API Information'), class: 'form-label') %>
      <a href="https://github.com/DMPRoadmap/roadmap/wiki/API-V0-Documentation"><%= _('How to use the API') %></a>
    </div>
  <% end %>

  <div class="form-control mb-3 col-sm-8">
    <%= f.button(_('Save'), class: 'btn btn-secondary', type: "submit", id: "personal_details_registration_form_submit") %>
  </div>

  <%= render partial: 'password_confirmation', locals: {f: f} %>

<% end %>
