<% title _('Help') %>
<div class="row">
  <div class="col-md-12">
    <h1><%= _('Help')%></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div>
        <p>When you log in to DMPonline.be you will be directed to the 'My Dashboard' page. From here you can edit, share, download, copy or remove any of your plans. You will also see plans that have been shared with you by others. </p>

          <h2 class="fontsize-h3"><%= _("Create a plan") %></h2>

          <p>To create a plan, click the 'Create plan' button from the 'My Dashboard' page or the top menu. Fill in the text box, select a suitable response from the drop down menu and tick boxes to determine which DMP template and guidance you should be presented with. Confirm your selection by clicking 'Create plan.' </p>

          <h2 class="fontsize-h3"><%= _("Write your plan") %></h2>

          <p>The tabbed interface allows you to navigate through different functions when editing your plan.</p>
          <ul>
            <li>'Project Details' includes basic administrative details on the DMP and related research project.</li>
            <li>'Plan Overview' tells you what template and guidance your plan is based on and gives you an overview to the questions that you will be asked.</li>
            <li>The following tab(s) present the questions to answer. There may be more than one tab if your funder or university asks different sets of questions at different stages e.g. at grant application and post-award. In addition to the DMP tabs, tabs for registration of personal data processing activities (GDPR record) may be included.</li>
            <li>'Share' allows you to invite others to read or contribute to your plan. </li>
            <li>'Download' allows you to download your plan in various formats. This may be useful if you need to submit your plan.</li>
          </ul>

          <p>When viewing any of the question tabs, you will see the different sections of your plan displayed. Click on a section to expand it and answer the questions of a section. You can format your responses using the text editing buttons at the top of a text box.</p>

          <p>Guidance is displayed in the right-hand panel. If you need more guidance or find there is too much, you can make adjustments to the guidance settings on the 'Project Details' tab.</p>

          <h2 class="fontsize-h3"><%= _("Share plans") %></h2>

          <p>Invite collaborators by inserting the email address of any collaborator that you would like to invite to read or edit your plan. Set the level of permissions you would like to grant them via the radio buttons and click to 'Submit'. Adjust permissions or remove collaborators at any time via the drop-down options in the 'Manage collaborators' table. Note that the application administrator(s) for your organisation can view all plans for support purposes.</p>
          <p>Next to granting permissions to work on plans in DMPonline.be, you can also indicate the type of contribution collaborators make in the project.</p>

          <p>On the 'Share' tab, you can also set your plan visibility.</p>
          <ul>
            <li><%= _("Private: restricted to you and your collaborators.") %></li>
            <li><%= _("Organisational: anyone at your organisation can view your plan.") %></li>
          </ul>

          <p>By default all new and test plans will be set to 'Private' visibility.  'Organisation' visibility is intended for finished plans. You must answer at least 50% of the questions to enable this option.</p>

          <h2 class="fontsize-h3"><%= _("Request feedback") %></h2>
          <p>There may also be an option to request feedback on your plan. This is available when research support staff at your organisation have enabled this service. Click to 'Request feedback' and your local administrators will be alerted to your request. Their comments will be visible in the 'Comments' field adjacent to each question. You will be notified by email when an administrator provides feedback.</p>


          <h2 class="fontsize-h3"><%= _("Download plans") %></h2>
          <p>Here you can download your plan in various formats. This may be useful if you need to submit your plan. Choose the file format of the plan and click to download. You can also adjust the formatting (font type, size and margins) for PDF files, which may be helpful to respect page limits.</p>
    </div>
  </div>
</div>
